<!doctype html>
<html>
        <head>
            <% include ../partials/head %>
        </head>

        <body>
             <% include ../partials/navigation %>

            <h1><%= headline %></h1>
        </body>
<html>